.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.barChart{
  margin: 3px;
  height: 100%;
  width:100%;
  background-color: lightblue;
  }
.subject {
	text-size-adjust: left;
	font-size: 1.3em;
	padding: 10px;
}
.passedCountBar{
	background: #ffd100;
	font-size: 1.5em;
	height:2vw;
}

